body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 20%;
}

.header-section, .footer-section {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-text {
    font-size: 24px;
}

.header-navbar-container ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.navbar-link {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header-description {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    padding: 80px 0 150px 0;
}

.header-description-container,
.header-img-container {
    
    width: 49%;
}

.header-title {
    font-size: 48px;
    font-weight: 900;
    width: 70%;
    margin: 0;
    padding: 0;
}

.header-text {
    font-size: 18px;
    color: #e5e7e5;
    width: 80%;
    margin: 0;
    padding: 0;
}

.sign-up-btn {
    background-color: #3882F6;
    margin-top: 15px;
    color: #F9FAF8;
    padding: 10px 30px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 700;
    border-style: none;
}

.header-img-container {
    background-color: grey; 
}

.info-section {
    text-align: center;
    padding: 50px 0 100px 0;
}

.info-section-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 50px;
}

.info-section-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.info-section-card {
    flex: 1 0 auto;
    max-width: 220px;
}

.info-section-img {
    border: 5px solid #3882F6;
    border-radius: 15px;
    height: 200px;
}

.info-section-text {
    font-size: 24px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 150px 0;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    padding: 0 100px;
}

.quote-author {
    font-weight: 700;
    font-style: normal;
    float: right;
    padding-top: 40px;
}

.sign-up-section > .container {
    margin-top: 120px;
    margin-bottom: 120px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 7px;
}

.sign-up-title {
    margin: 0;
    padding: 0;
}

.sign-up-text {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.white-border-btn {
    background-color: #3882F6;
    margin-top: 15px;
    color: #F9FAF8;
    padding: 10px 30px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 700;
    border-color: #F9FAF8;
    border-style: solid;
}

.footer-section {
    padding: 30px 0;
    text-align: center;
}

.footer-text {
    font-size: 18px;
}
